
html { margin: 0; padding: 0;}

body {
  background: #101010 top center url(../images/bg.png) no-repeat;
  margin: 0;
  min-height: 800px;
  padding: 120px 0 0 0;
  width: 100%;
}
#wrapper {
  margin: 0 auto;
  width: 1200px;
}
#wow-monster { 
  background: center -60px url(../images/monster-still.gif);
  height: 350px;
  margin: 0 auto;
  width: 250px;
}
.like-wrapper {
  margin: 0 auto;
  padding: 45px 0 200px 0;
  width: 800px;
}
.like-inner {
  color: white;
  margin: 0 auto;
  height: 20px;
  text-align: center;
  width: 250px;
}
.fb-like, .tweet-this { float: left; }
.tweet-this { padding-left: 10px; }
